<%- include('partials/header.ejs') %>
	<link rel="stylesheet" href="/public/css/about.css">
	<title>About</title>
</head>
<body>
	<%- include('partials/navBar.ejs') %>
	<div id="PageContainer">
		<p id="AboutInfo">
			Ce site est construit pour le cadre de projet du cours 420-B65-VM SYNTHÈSE,il 
			s'agit d'un site de paris sportif. Cela dit, l'argent monaitaire est utilisé dans aucun
			cas pour ce site.<br>
			<u>Le backend du site a été construit avec:</u><br>
			-NodeJS<br>
			-ExpressJS<br>
			-EJS<br>
			-JWT<br>
			-BodyParser<br>
			-CookieParser<br>
			-BCRYPT<br>
			-MongoDB<br>
			-Mongoose<br>
			<u>Le frontend du site a été construit avec:</u><br>
			-HTML+EJS<br>
			-CSS<br>
			-JS<br>
			<u>La base de donné MongoDB du site a été rempli avec la base de donné du API MySportsFeeds</u><br>
			<br>
			-Ka-son Chau
		</p>
	</div>
</body>
<%- include('partials/footer.ejs') %>