<%- include('partials/header.ejs') %>
	<title>logout</title>
</head>
<body>
	<%- include('partials/navbar.ejs') %>
	<div style="width:40%;margin: auto;padding-top: 112px;">
        <h1 style="color: red;margin-top: 2em;font-family: 'Montserrat';">safely logged out.</h1>
        <h2>Re-directing you to the homepage in 5 seconds</h2>
	</div>
</body>
<%- include('partials/footer.ejs') %>